{% extends "base.html" %}


{# <link rel="stylesheet" type="text/css" href="{% static 'sampler/style.css' %}" /> #}
{% block content %}
<meta id="sentPads" data-name="{{pads}}">
<meta id='imageDir' data-dir= "{{ url_for('static', filename='images/') }}">
<meta id='appStatus' data-status = 

 <center><h3>...sampler...</h3></center>
<br><br>



<div class="Sampler">
<center>

<h2>Recordings</h2>
  <ul id="recordingslist"></ul>


<div class='operations'>
{# <img src="{{ url_for('static', filename='images/rec_off.png') }}" onclick="armRecording(this);"> #}
<button id='record'>Record</button>
<button id='loop' onclick="toggleLoop;">Loop</button>
<button id='gate' onclick="stopAll;">Gate</button>
</div>

<div class='row' id='1'></div>
<div class='row' id='2'></div>
<div class='row' id='3'></div>
<div class='row' id='4'></div>
<span id="result"></span><br>
<span id="name"></span>

</center>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>





{% endblock content %}
